@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  /* Global styles for dark mode */
  .dark body {
    background-color: #1a202c; /* dark bg color */
    color: #ffffff; /* light text color */
  }

  .radial-gradient {
    width: 100%;
    height: 100%;
    transform: translate(48%, -48%);
    border-radius: 50%;
  }

  .radial-gradient.light {
    background: radial-gradient(
      circle,
      rgba(255, 255, 0, 0.6) 0%,
      rgba(255, 255, 7, 0.5) 15%,
      rgba(255, 255, 62, 0.3) 30%,
      rgba(255, 255, 103, 0.2) 45%,
      rgba(255, 255, 103, 0.1) 60%,
      rgba(255, 255, 103, 0.05) 75%,
      rgba(255, 255, 0, 0.001) 100%
    );
  }

  .radial-gradient.dark {
    background: radial-gradient(
      circle,
      rgba(0, 0, 118, 0.6) 0%,
      rgba(0, 0, 80, 0.5) 15%,
      rgba(0, 0, 90, 0.3) 30%,
      rgba(0, 0, 100, 0.2) 45%,
      rgba(0, 0, 120, 0.1) 60%,
      rgba(0, 0, 150, 0.05) 75%,
      rgba(0, 0, 0, 0.001) 100%
    );
  }
}
