@import url("https://fonts.googleapis.com/css?family=Alegreya%20Sans%20SC:700|Alegreya%20Sans%20SC:400");
@import url("http://fonts.googleapis.com/css?family=Roboto");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-theme="light"] {
    --text: #03011e;
    --background: #ececfe;
    --background2: #79d5ff;
    --primary: #cc92fc;
    --secondary: #ffc5fb;
    --accent: #f915ee;
  }
  :root[data-theme="dark"] {
    --text: #e3e1fe;
    --background: #010114;
    --background2: #001e30;
    --primary: #3d036d;
    --secondary: #230121;
    --accent: #ea06de;
  }

  body {
    background: linear-gradient(
      var(--secondary),
      var(--background) 2%,
      var(--background) 40%,
      var(--background2) 80%,
      var(--background2)
    );
    /*background: var(--background);*/
    color: var(--text);
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
  }

  .bg-image {
    background-image: url("/Dall-e.png");
    opacity: 0.5;
  }

  p,
  a {
    @apply text-sm md:text-md lg:text-lg xl:text-xl;
  }

  h1 {
    @apply text-xl md:text-2xl lg:text-2xl xl:text-3xl;
  }
  h2,
  h3 {
    @apply text-md md:text-xl lg:text-xl xl:text-2xl;
  }

  li > a {
    text-shadow: 3px 0px 3px var(--background);
  }

  a {
    text-decoration: none; 
    color: #007bff; 
    transition: color 0.3s ease, transform 0.3s ease; 
  }

  a:hover,
  a:focus {
    cursor: pointer;
    color: #0056b3; 
    transform: scale(1.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  a:active {
    transform: scale(0.9); 
  }

  .radial-gradient {
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translate(48%, -48%);
    border-radius: 50%;
  }

  .radial-gradient.light {
    background: radial-gradient(
      circle,
      rgba(255, 255, 0, 0.6) 0%,
      rgba(255, 255, 7, 0.5) 15%,
      rgba(255, 255, 62, 0.3) 30%,
      rgba(255, 255, 103, 0.2) 45%,
      rgba(255, 255, 103, 0.1) 60%,
      rgba(255, 255, 103, 0.05) 75%,
      rgba(255, 255, 0, 0.001) 100%
    );
  }

  .radial-gradient.dark {
    background: radial-gradient(
      circle,
      rgba(0, 0, 118, 0.6) 0%,
      rgba(14, 14, 61, 0.5) 15%,
      rgba(21, 21, 71, 0.3) 30%,
      rgba(26, 0, 44, 0.2) 45%,
      rgba(37, 0, 44, 0.1) 60%,
      rgba(37, 0, 44, 0.05) 75%,
      rgba(0, 0, 0, 0.001) 100%
    );
  }

  .line {
    width: 200px;
    height: 100px; 
    background-image: url("Dall-e.png");
    object-fit: contain;
    clip-path: polygon(25% 0%, 30% 0, 5% 100%, 0% 100%);
  }

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
  }

  .wave .shape-fill {
    fill: var(--background2);
  }

  .post-scroll-animation {
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    from {
      transform: translateY(25%);
      scale: 0.8;
      opacity: 0.5;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }
}
